// Base Color
$base-color1: #1E3A8A;  //primario
$base-color2: #FBBF24;  //secundario
$base-color3: #10B981;  //acento 1
$base-color4: #F3F4F6;  //acento 2
$base-color5: #111827;  //texto

// happy Color
$happy-color1: #37bc00;
$happy-color2: #8fb732;
$happy-color3: #0a101e;
$happy-color4: #101624;
$happy-color5: #3f4551;

// Dark Color
$dark-color1: #151b29;
$dark-color2: #070d1b;
$dark-color3: #0a101e;
$dark-color4: #101624;
$dark-color5: #3f4551;


