/*--------------------------------------------------------------
18. footer
----------------------------------------------------------------*/
.footer-directory{
  background-color: $base-color1;
  color: $base-color2;
}

.footer-directory-text{
  align-items: center;
  display: flex;
  height: 72px;
  justify-content: center;
}