<html>
<head>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="" />
    <link
            rel="stylesheet"
            as="style"
            onload="this.rel='stylesheet'"
            href="https://fonts.googleapis.com/css2?display=swap&amp;family=Noto+Sans%3Awght%40400%3B500%3B700%3B900&amp;family=Plus+Jakarta+Sans%3Awght%40400%3B500%3B700%3B800"
    />

    <title>Stitch Design</title>
    <link rel="icon" type="image/x-icon" href="data:image/x-icon;base64," />

    <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
</head>
<body>
<div
        class="relative flex size-full min-h-screen flex-col bg-slate-50 justify-between group/design-root overflow-x-hidden"
        style='font-family: "Plus Jakarta Sans", "Noto Sans", sans-serif;'
>
    <div>
        <div class="flex items-center bg-slate-50 p-4 pb-2 justify-between">
            <div class="text-[#0d141c] flex size-12 shrink-0 items-center" data-icon="ArrowLeft" data-size="24px" data-weight="regular">
                <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                    <path d="M224,128a8,8,0,0,1-8,8H59.31l58.35,58.34a8,8,0,0,1-11.32,11.32l-72-72a8,8,0,0,1,0-11.32l72-72a8,8,0,0,1,11.32,11.32L59.31,120H216A8,8,0,0,1,224,128Z"></path>
                </svg>
            </div>
            <h2 class="text-[#0d141c] text-lg font-bold leading-tight tracking-[-0.015em] flex-1 text-center pr-12">Negocio</h2>
        </div>
        <div class="flex overflow-y-auto [-ms-scrollbar-style:none] [scrollbar-width:none] [&amp;::-webkit-scrollbar]:hidden">
            <div class="flex items-stretch p-4 gap-3">
                <div class="flex h-full flex-1 flex-col gap-4 rounded-lg min-w-60">
                    <div
                            class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-lg flex flex-col"
                            style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuB6Jrxzlcaz0cC42_GrLRxpt_FboeQFH7kgrv7Tn327qWo1OJseVUf5E-Ed0efb1oCGxqCs7e8NwHaO6XvMn8YW5_OrnD0IW4pMBUeEh6kBOOfFPpQZ_Am4Orr4ep7UzLyqDfHY1qhUz0E-0PUhOGZUUQ23dTm-eBNABCXuIcQZ5vDKcPLKAM4vJ0JtzrA1lRvRU9Y_qUktvyiirQK-4WXfpjTehxZodCf5QiOicv09NEYMhfIzG_bBacqM183vA8pafc_zknxAzTZJ");'
                    ></div>
                </div>
                <div class="flex h-full flex-1 flex-col gap-4 rounded-lg min-w-60">
                    <div
                            class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-lg flex flex-col"
                            style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuDH3coEoDenXeS62HTVM2RwlNvjCcOej4Hh2yat6HRmtJn-8T-FSO5fGVpAUDxciOwYym4-MDMq73xSkh7lTpIh4rFF7FZPguoXYKW8IRyEtOLg54ji6cFN5Lv8O-UnH_RQDHvqi1urWregCvbIPZ5vo_6BY4KuDspLVtuuUjOqRL5Ooo6xe7Nb6y6IggqZf2UyR9VrLhfY-VaBKylzdAKl3PN2QwOtOys0C-mawalfawcVXzcQZG1i8Ox6EGz_QadkjstzSQrR-3hf");'
                    ></div>
                </div>
                <div class="flex h-full flex-1 flex-col gap-4 rounded-lg min-w-60">
                    <div
                            class="w-full bg-center bg-no-repeat aspect-square bg-cover rounded-lg flex flex-col"
                            style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuBn1vERpwm6ekAZMvgIn3DOwcfJMMulBe74h60x0Fp1aLg0oSxfLg8uUCrbeicX7UNn6bNARW7n3pqvRYxK99z4zM0NJYqKBG0alhxu8GCTX7-1NVs_ZuZWat56I9Q7fdgV4_Kp8Dhm6SEhlJvxn8Ly3qUHpBglAAnNTaiUjzm7eSyOJOIBf4bTbxN11vEPaM_S7YaMcHUWnIC4_CcJTmQW6t89quk3RQ1OdefoYJ4gqoDdFJxf666V6QVv84S3N9d4bW59Dij3H0Vm");'
                    ></div>
                </div>
            </div>
        </div>
        <h1 class="text-[#0d141c] text-[22px] font-bold leading-tight tracking-[-0.015em] px-4 text-left pb-3 pt-5">Diseño de interiores</h1>
        <p class="text-[#0d141c] text-base font-normal leading-normal pb-3 pt-1 px-4">
            Transformamos espacios con creatividad y funcionalidad. Diseñamos interiores que reflejan tu estilo y mejoran tu calidad de vida.
        </p>
        <h3 class="text-[#0d141c] text-lg font-bold leading-tight tracking-[-0.015em] px-4 pb-2 pt-4">Ubicación</h3>
        <div class="flex px-4 py-3">
            <div
                    class="w-full bg-center bg-no-repeat aspect-video bg-cover rounded-lg object-cover"
                    style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuDORPtXrAEewrIA1Q7ocj8gm4_IFXaXuLk7YBBoh5wz2ytC4ncHg2mOFydIb1VxCFDW8MmKUbZA5T3FBH68H-PUCtOqDBdcSce7FI-_qfpNgMvLihQzFVLTC8hsILhIvp3DJTqEnnOmRObj1b6cvbRVFCv81OOxT_9vUEMXstGM618ZoK-a9BAwqnF4AdDzGxvvz_EBxd8vOlOMM_jnLwP71mOESnf_iDAuO5wTGRrCBc7rPs7zmAvYu7mdnSfn_OrrveNlOj5mCI3u");'
            ></div>
        </div>
        <h3 class="text-[#0d141c] text-lg font-bold leading-tight tracking-[-0.015em] px-4 pb-2 pt-4">Contacto</h3>
        <div class="flex items-center gap-4 bg-slate-50 px-4 min-h-14 justify-between">
            <p class="text-[#0d141c] text-base font-normal leading-normal flex-1 truncate">Teléfono</p>
            <div class="shrink-0"><p class="text-[#0d141c] text-base font-normal leading-normal">+57 310 222 3344</p></div>
        </div>
        <div class="flex items-center gap-4 bg-slate-50 px-4 min-h-14 justify-between">
            <p class="text-[#0d141c] text-base font-normal leading-normal flex-1 truncate">Correo electrónico</p>
            <div class="shrink-0"><p class="text-[#0d141c] text-base font-normal leading-normal">info@disenodeinteriores.com</p></div>
        </div>
        <div class="flex items-center gap-4 bg-slate-50 px-4 min-h-14 justify-between">
            <p class="text-[#0d141c] text-base font-normal leading-normal flex-1 truncate">Sitio web</p>
            <div class="shrink-0"><p class="text-[#0d141c] text-base font-normal leading-normal">disenodeinteriores.com</p></div>
        </div>
    </div>
    <div>
        <div class="flex gap-2 border-t border-[#e7edf4] bg-slate-50 px-4 pb-3 pt-2">
            <a class="just flex flex-1 flex-col items-center justify-end gap-1 text-[#49739c]" href="#">
                <div class="text-[#49739c] flex h-8 items-center justify-center" data-icon="House" data-size="24px" data-weight="regular">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                        <path
                                d="M218.83,103.77l-80-75.48a1.14,1.14,0,0,1-.11-.11,16,16,0,0,0-21.53,0l-.11.11L37.17,103.77A16,16,0,0,0,32,115.55V208a16,16,0,0,0,16,16H96a16,16,0,0,0,16-16V160h32v48a16,16,0,0,0,16,16h48a16,16,0,0,0,16-16V115.55A16,16,0,0,0,218.83,103.77ZM208,208H160V160a16,16,0,0,0-16-16H112a16,16,0,0,0-16,16v48H48V115.55l.11-.1L128,40l79.9,75.43.11.1Z"
                        ></path>
                    </svg>
                </div>
                <p class="text-[#49739c] text-xs font-medium leading-normal tracking-[0.015em]">Inicio</p>
            </a>
            <a class="just flex flex-1 flex-col items-center justify-end gap-1 text-[#49739c]" href="#">
                <div class="text-[#49739c] flex h-8 items-center justify-center" data-icon="Users" data-size="24px" data-weight="regular">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                        <path
                                d="M117.25,157.92a60,60,0,1,0-66.5,0A95.83,95.83,0,0,0,3.53,195.63a8,8,0,1,0,13.4,8.74,80,80,0,0,1,134.14,0,8,8,0,0,0,13.4-8.74A95.83,95.83,0,0,0,117.25,157.92ZM40,108a44,44,0,1,1,44,44A44.05,44.05,0,0,1,40,108Zm210.14,98.7a8,8,0,0,1-11.07-2.33A79.83,79.83,0,0,0,172,168a8,8,0,0,1,0-16,44,44,0,1,0-16.34-84.87,8,8,0,1,1-5.94-14.85,60,60,0,0,1,55.53,105.64,95.83,95.83,0,0,1,47.22,37.71A8,8,0,0,1,250.14,206.7Z"
                        ></path>
                    </svg>
                </div>
                <p class="text-[#49739c] text-xs font-medium leading-normal tracking-[0.015em]">Miembros</p>
            </a>
            <a class="just flex flex-1 flex-col items-center justify-end gap-1 rounded-full text-[#0d141c]" href="#">
                <div class="text-[#0d141c] flex h-8 items-center justify-center" data-icon="Briefcase" data-size="24px" data-weight="fill">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                        <path
                                d="M152,112a8,8,0,0,1-8,8H112a8,8,0,0,1,0-16h32A8,8,0,0,1,152,112Zm80-40V200a16,16,0,0,1-16,16H40a16,16,0,0,1-16-16V72A16,16,0,0,1,40,56H80V48a24,24,0,0,1,24-24h48a24,24,0,0,1,24,24v8h40A16,16,0,0,1,232,72ZM96,56h64V48a8,8,0,0,0-8-8H104a8,8,0,0,0-8,8Zm120,57.61V72H40v41.61A184,184,0,0,0,128,136,184,184,0,0,0,216,113.61Z"
                        ></path>
                    </svg>
                </div>
                <p class="text-[#0d141c] text-xs font-medium leading-normal tracking-[0.015em]">Negocios</p>
            </a>
            <a class="just flex flex-1 flex-col items-center justify-end gap-1 text-[#49739c]" href="#">
                <div class="text-[#49739c] flex h-8 items-center justify-center" data-icon="File" data-size="24px" data-weight="regular">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                        <path
                                d="M213.66,82.34l-56-56A8,8,0,0,0,152,24H56A16,16,0,0,0,40,40V216a16,16,0,0,0,16,16H200a16,16,0,0,0,16-16V88A8,8,0,0,0,213.66,82.34ZM160,51.31,188.69,80H160ZM200,216H56V40h88V88a8,8,0,0,0,8,8h48V216Z"
                        ></path>
                    </svg>
                </div>
                <p class="text-[#49739c] text-xs font-medium leading-normal tracking-[0.015em]">Empleos</p>
            </a>
            <a class="just flex flex-1 flex-col items-center justify-end gap-1 text-[#49739c]" href="#">
                <div class="text-[#49739c] flex h-8 items-center justify-center" data-icon="User" data-size="24px" data-weight="regular">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                        <path
                                d="M230.92,212c-15.23-26.33-38.7-45.21-66.09-54.16a72,72,0,1,0-73.66,0C63.78,166.78,40.31,185.66,25.08,212a8,8,0,1,0,13.85,8c18.84-32.56,52.14-52,89.07-52s70.23,19.44,89.07,52a8,8,0,1,0,13.85-8ZM72,96a56,56,0,1,1,56,56A56.06,56.06,0,0,1,72,96Z"
                        ></path>
                    </svg>
                </div>
                <p class="text-[#49739c] text-xs font-medium leading-normal tracking-[0.015em]">Perfil</p>
            </a>
        </div>
        <div class="h-5 bg-slate-50"></div>
    </div>
</div>
</body>
</html>
