<html>
<head>
    <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="" />
    <link
            rel="stylesheet"
            as="style"
            onload="this.rel='stylesheet'"
            href="https://fonts.googleapis.com/css2?display=swap&amp;family=Noto+Sans%3Awght%40400%3B500%3B700%3B900&amp;family=Plus+Jakarta+Sans%3Awght%40400%3B500%3B700%3B800"
    />

    <title>Stitch Design</title>
    <link rel="icon" type="image/x-icon" href="data:image/x-icon;base64," />

    <script src="https://cdn.tailwindcss.com?plugins=forms,container-queries"></script>
</head>
<body>
<div
        class="relative flex size-full min-h-screen flex-col bg-slate-50 justify-between group/design-root overflow-x-hidden"
        style='font-family: "Plus Jakarta Sans", "Noto Sans", sans-serif;'
>
    <div>
        <div class="flex items-center bg-slate-50 p-4 pb-2 justify-between">
            <h2 class="text-[#0d141c] text-lg font-bold leading-tight tracking-[-0.015em] flex-1 text-center pl-12">Inicio</h2>
            <div class="flex w-12 items-center justify-end">
                <button
                        class="flex max-w-[480px] cursor-pointer items-center justify-center overflow-hidden rounded-lg h-12 bg-transparent text-[#0d141c] gap-2 text-base font-bold leading-normal tracking-[0.015em] min-w-0 p-0"
                >
                    <div class="text-[#0d141c]" data-icon="Plus" data-size="24px" data-weight="regular">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                            <path d="M224,128a8,8,0,0,1-8,8H136v80a8,8,0,0,1-16,0V136H40a8,8,0,0,1,0-16h80V40a8,8,0,0,1,16,0v80h80A8,8,0,0,1,224,128Z"></path>
                        </svg>
                    </div>
                </button>
            </div>
        </div>
        <div class="flex items-center px-4 py-3 gap-3 @container">
            <label class="flex flex-col min-w-40 h-full flex-1">
                <div class="flex w-full flex-1 items-stretch rounded-lg h-full">
                    <div class="flex border border-[#cedbe8] bg-slate-50 justify-end pl-[15px] pr-[15px] pt-[15px] rounded-l-lg border-r-0">
                        <div
                                class="bg-center bg-no-repeat aspect-square bg-cover rounded-full size-10 shrink-0"
                                style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuBewqziS7zcnKruH908O7NqGrWFzNj8ByABVBQ9TaMh1uzZkGpi-hs_wM631zFHTDC8qwXmwf89si9b8nUCjPjP-AKxi_knAIZ2U5b1VFbIif_lnWFqQiG7YKgyE0jlrxYXkpL339E0_0Q28dAIkh2_TImKYKw8LEK0lwYR5A93T_qtBPj3VYjqnEHAne4ffZuGvWh_VHasYTWBh8AB0YMx9z5S0uVK-1FnkMIwl2JPgs5TSBaDAN2rm8Ya3e6XvBPNLUiF5rHRg0j9");'
                        ></div>
                    </div>
                    <div class="flex flex-1 flex-col">
                <textarea
                        placeholder="Comparte una publicación"
                        class="form-input flex w-full min-w-0 flex-1 resize-none overflow-hidden rounded-lg text-[#0d141c] focus:outline-0 focus:ring-0 border border-[#cedbe8] bg-slate-50 focus:border-[#cedbe8] h-auto placeholder:text-[#acc2d8] rounded-l-none border-l-0 pl-2 rounded-b-none border-b-0 text-base font-normal leading-normal pt-[22px]"
                ></textarea>
                        <div class="flex border border-[#cedbe8] bg-slate-50 justify-end pr-[15px] rounded-br-lg border-l-0 border-t-0 px-[15px] pb-[15px]">
                            <div class="flex items-center gap-4 justify-end">
                                <div class="flex items-center gap-1">
                                    <button class="flex items-center justify-center p-1.5">
                                        <div class="text-[#49739c]" data-icon="Image" data-size="20px" data-weight="regular">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="currentColor" viewBox="0 0 256 256">
                                                <path
                                                        d="M216,40H40A16,16,0,0,0,24,56V200a16,16,0,0,0,16,16H216a16,16,0,0,0,16-16V56A16,16,0,0,0,216,40Zm0,16V158.75l-26.07-26.06a16,16,0,0,0-22.63,0l-20,20-44-44a16,16,0,0,0-22.62,0L40,149.37V56ZM40,172l52-52,80,80H40Zm176,28H194.63l-36-36,20-20L216,181.38V200ZM144,100a12,12,0,1,1,12,12A12,12,0,0,1,144,100Z"
                                                ></path>
                                            </svg>
                                        </div>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </label>
        </div>
        <div class="flex w-full flex-row items-start justify-start gap-3 p-4">
            <div
                    class="bg-center bg-no-repeat aspect-square bg-cover rounded-full w-10 shrink-0"
                    style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuCQylnGqw8KkS9DvfQ_r8rx5OV3LZgXW-76GIltWhtoWw4bwoVnErW8ly-15gqOenjDLWs5j_43bIaOjw_c2p2hVzHPOetErMLv-6HVZe1Szs44NotYsiogOfljaPmA31J3EZsJDL1_y0jcUIZmeaVl_DYEac1gQBhMHwYEwJCLfmWSXPWGQX62e1it1X2wDW8Jo_cnPGKEw0kr6yNh7H0mBu5Ph3XcdcVtUKcT2jOJ5audQwZLJmew7v2J3Ly4dI2bdik62vnMRqF3");'
            ></div>
            <div class="flex h-full flex-1 flex-col items-start justify-start">
                <div class="flex w-full flex-row items-start justify-start gap-x-3">
                    <p class="text-[#0d141c] text-sm font-bold leading-normal tracking-[0.015em]">Ricardo G.</p>
                    <p class="text-[#49739c] text-sm font-normal leading-normal">Hace 2 días</p>
                </div>
                <p class="text-[#0d141c] text-sm font-normal leading-normal">
                    Estoy buscando un desarrollador web para un proyecto de comercio electrónico. ¡Si conoces a alguien, por favor, contáctame!
                </p>
                <div class="flex w-full flex-row items-center justify-start gap-9 pt-2">
                    <div class="flex items-center gap-2">
                        <div class="text-[#49739c]" data-icon="ThumbsUp" data-size="20px" data-weight="regular">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="currentColor" viewBox="0 0 256 256">
                                <path
                                        d="M234,80.12A24,24,0,0,0,216,72H160V56a40,40,0,0,0-40-40,8,8,0,0,0-7.16,4.42L75.06,96H32a16,16,0,0,0-16,16v88a16,16,0,0,0,16,16H204a24,24,0,0,0,23.82-21l12-96A24,24,0,0,0,234,80.12ZM32,112H72v88H32ZM223.94,97l-12,96a8,8,0,0,1-7.94,7H88V105.89l36.71-73.43A24,24,0,0,1,144,56V80a8,8,0,0,0,8,8h64a8,8,0,0,1,7.94,9Z"
                                ></path>
                            </svg>
                        </div>
                        <p class="text-[#49739c] text-sm font-normal leading-normal">12</p>
                    </div>
                    <div class="flex items-center gap-2">
                        <div class="text-[#49739c]" data-icon="ThumbsDown" data-size="20px" data-weight="regular">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="currentColor" viewBox="0 0 256 256">
                                <path
                                        d="M239.82,157l-12-96A24,24,0,0,0,204,40H32A16,16,0,0,0,16,56v88a16,16,0,0,0,16,16H75.06l37.78,75.58A8,8,0,0,0,120,240a40,40,0,0,0,40-40V184h56a24,24,0,0,0,23.82-27ZM72,144H32V56H72Zm150,21.29a7.88,7.88,0,0,1-6,2.71H152a8,8,0,0,0-8,8v24a24,24,0,0,1-19.29,23.54L88,150.11V56H204a8,8,0,0,1,7.94,7l12,96A7.87,7.87,0,0,1,222,165.29Z"
                                ></path>
                            </svg>
                        </div>
                        <p class="text-[#49739c] text-sm font-normal leading-normal">2</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex w-full flex-row items-start justify-start gap-3 p-4">
            <div
                    class="bg-center bg-no-repeat aspect-square bg-cover rounded-full w-10 shrink-0"
                    style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuBRpQrjZQjpL0y-OLBsE9NV8Xc5dypaOhj7ICCcvn9UfrNDtsQffrRYKUGAHnTiRpXA0tBV8uZVxne43Wp77NcLBitU8M6Zic-tWfVRnUShQDX30PcouwTGI0XSWzoi_BJBNT_Vo-qzwuAxsYQFf6D4XBG0-2ZLwwE0b2QXEZ8SwDB8z94FG9RWChI8E5jpJ-sZ9AmWe8gJTDtymFJOa39zouG4a5VYVxEAMZcQqlZl1r8jpTc-Qjrn3bFxubFJAad3N79cPCKio5Lx");'
            ></div>
            <div class="flex h-full flex-1 flex-col items-start justify-start">
                <div class="flex w-full flex-row items-start justify-start gap-x-3">
                    <p class="text-[#0d141c] text-sm font-bold leading-normal tracking-[0.015em]">Sofía M.</p>
                    <p class="text-[#49739c] text-sm font-normal leading-normal">Hace 3 días</p>
                </div>
                <p class="text-[#0d141c] text-sm font-normal leading-normal">
                    Ofrezco servicios de diseño gráfico para emprendedores. ¡Si necesitas un logo o branding, no dudes en contactarme!
                </p>
                <div class="flex w-full flex-row items-center justify-start gap-9 pt-2">
                    <div class="flex items-center gap-2">
                        <div class="text-[#49739c]" data-icon="ThumbsUp" data-size="20px" data-weight="regular">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="currentColor" viewBox="0 0 256 256">
                                <path
                                        d="M234,80.12A24,24,0,0,0,216,72H160V56a40,40,0,0,0-40-40,8,8,0,0,0-7.16,4.42L75.06,96H32a16,16,0,0,0-16,16v88a16,16,0,0,0,16,16H204a24,24,0,0,0,23.82-21l12-96A24,24,0,0,0,234,80.12ZM32,112H72v88H32ZM223.94,97l-12,96a8,8,0,0,1-7.94,7H88V105.89l36.71-73.43A24,24,0,0,1,144,56V80a8,8,0,0,0,8,8h64a8,8,0,0,1,7.94,9Z"
                                ></path>
                            </svg>
                        </div>
                        <p class="text-[#49739c] text-sm font-normal leading-normal">8</p>
                    </div>
                    <div class="flex items-center gap-2">
                        <div class="text-[#49739c]" data-icon="ThumbsDown" data-size="20px" data-weight="regular">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="currentColor" viewBox="0 0 256 256">
                                <path
                                        d="M239.82,157l-12-96A24,24,0,0,0,204,40H32A16,16,0,0,0,16,56v88a16,16,0,0,0,16,16H75.06l37.78,75.58A8,8,0,0,0,120,240a40,40,0,0,0,40-40V184h56a24,24,0,0,0,23.82-27ZM72,144H32V56H72Zm150,21.29a7.88,7.88,0,0,1-6,2.71H152a8,8,0,0,0-8,8v24a24,24,0,0,1-19.29,23.54L88,150.11V56H204a8,8,0,0,1,7.94,7l12,96A7.87,7.87,0,0,1,222,165.29Z"
                                ></path>
                            </svg>
                        </div>
                        <p class="text-[#49739c] text-sm font-normal leading-normal">1</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex w-full flex-row items-start justify-start gap-3 p-4">
            <div
                    class="bg-center bg-no-repeat aspect-square bg-cover rounded-full w-10 shrink-0"
                    style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuBq6_dpSAL15wWTHyS2ESziHRwXAVRH3kgkl3oXs-5Ne_-la-O3hIKVj52vvkGs_fzVMBKuDTQgO82nsmLNXrKy2JtWCnRbkh7Yd70wrZAS2ZoNysyxTXsj162sRdPVN21ofwLGkZVTJ-FlCXQLwnNse9w5jkb8E8deC_Ya20fRtPYwj4C6wqastjCcKcA36vkU_UGRq1yEDQO0C-myoLsKdNoz4TosSa4uo0OT5ZKa7KmZX34kVVSPrcuTd48uXfs7cie684QNs4IN");'
            ></div>
            <div class="flex h-full flex-1 flex-col items-start justify-start">
                <div class="flex w-full flex-row items-start justify-start gap-x-3">
                    <p class="text-[#0d141c] text-sm font-bold leading-normal tracking-[0.015em]">Carlos P.</p>
                    <p class="text-[#49739c] text-sm font-normal leading-normal">Hace 4 días</p>
                </div>
                <p class="text-[#0d141c] text-sm font-normal leading-normal">
                    Estoy buscando un socio para un negocio de catering. ¡Si te interesa la cocina y tienes experiencia en el sector, hablemos!
                </p>
                <div class="flex w-full flex-row items-center justify-start gap-9 pt-2">
                    <div class="flex items-center gap-2">
                        <div class="text-[#49739c]" data-icon="ThumbsUp" data-size="20px" data-weight="regular">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="currentColor" viewBox="0 0 256 256">
                                <path
                                        d="M234,80.12A24,24,0,0,0,216,72H160V56a40,40,0,0,0-40-40,8,8,0,0,0-7.16,4.42L75.06,96H32a16,16,0,0,0-16,16v88a16,16,0,0,0,16,16H204a24,24,0,0,0,23.82-21l12-96A24,24,0,0,0,234,80.12ZM32,112H72v88H32ZM223.94,97l-12,96a8,8,0,0,1-7.94,7H88V105.89l36.71-73.43A24,24,0,0,1,144,56V80a8,8,0,0,0,8,8h64a8,8,0,0,1,7.94,9Z"
                                ></path>
                            </svg>
                        </div>
                        <p class="text-[#49739c] text-sm font-normal leading-normal">15</p>
                    </div>
                    <div class="flex items-center gap-2">
                        <div class="text-[#49739c]" data-icon="ThumbsDown" data-size="20px" data-weight="regular">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20px" height="20px" fill="currentColor" viewBox="0 0 256 256">
                                <path
                                        d="M239.82,157l-12-96A24,24,0,0,0,204,40H32A16,16,0,0,0,16,56v88a16,16,0,0,0,16,16H75.06l37.78,75.58A8,8,0,0,0,120,240a40,40,0,0,0,40-40V184h56a24,24,0,0,0,23.82-27ZM72,144H32V56H72Zm150,21.29a7.88,7.88,0,0,1-6,2.71H152a8,8,0,0,0-8,8v24a24,24,0,0,1-19.29,23.54L88,150.11V56H204a8,8,0,0,1,7.94,7l12,96A7.87,7.87,0,0,1,222,165.29Z"
                                ></path>
                            </svg>
                        </div>
                        <p class="text-[#49739c] text-sm font-normal leading-normal">3</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="flex gap-2 border-t border-[#e7edf4] bg-slate-50 px-4 pb-3 pt-2">
            <a class="just flex flex-1 flex-col items-center justify-end gap-1 rounded-full text-[#0d141c]" href="#">
                <div class="text-[#0d141c] flex h-8 items-center justify-center" data-icon="House" data-size="24px" data-weight="fill">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                        <path
                                d="M224,115.55V208a16,16,0,0,1-16,16H168a16,16,0,0,1-16-16V168a8,8,0,0,0-8-8H112a8,8,0,0,0-8,8v40a16,16,0,0,1-16,16H48a16,16,0,0,1-16-16V115.55a16,16,0,0,1,5.17-11.78l80-75.48.11-.11a16,16,0,0,1,21.53,0,1.14,1.14,0,0,0,.11.11l80,75.48A16,16,0,0,1,224,115.55Z"
                        ></path>
                    </svg>
                </div>
                <p class="text-[#0d141c] text-xs font-medium leading-normal tracking-[0.015em]">Inicio</p>
            </a>
            <a class="just flex flex-1 flex-col items-center justify-end gap-1 text-[#49739c]" href="#">
                <div class="text-[#49739c] flex h-8 items-center justify-center" data-icon="Users" data-size="24px" data-weight="regular">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                        <path
                                d="M117.25,157.92a60,60,0,1,0-66.5,0A95.83,95.83,0,0,0,3.53,195.63a8,8,0,1,0,13.4,8.74,80,80,0,0,1,134.14,0,8,8,0,0,0,13.4-8.74A95.83,95.83,0,0,0,117.25,157.92ZM40,108a44,44,0,1,1,44,44A44.05,44.05,0,0,1,40,108Zm210.14,98.7a8,8,0,0,1-11.07-2.33A79.83,79.83,0,0,0,172,168a8,8,0,0,1,0-16,44,44,0,1,0-16.34-84.87,8,8,0,1,1-5.94-14.85,60,60,0,0,1,55.53,105.64,95.83,95.83,0,0,1,47.22,37.71A8,8,0,0,1,250.14,206.7Z"
                        ></path>
                    </svg>
                </div>
                <p class="text-[#49739c] text-xs font-medium leading-normal tracking-[0.015em]">Miembros</p>
            </a>
            <a class="just flex flex-1 flex-col items-center justify-end gap-1 text-[#49739c]" href="#">
                <div class="text-[#49739c] flex h-8 items-center justify-center" data-icon="Briefcase" data-size="24px" data-weight="regular">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                        <path
                                d="M216,56H176V48a24,24,0,0,0-24-24H104A24,24,0,0,0,80,48v8H40A16,16,0,0,0,24,72V200a16,16,0,0,0,16,16H216a16,16,0,0,0,16-16V72A16,16,0,0,0,216,56ZM96,48a8,8,0,0,1,8-8h48a8,8,0,0,1,8,8v8H96ZM216,72v41.61A184,184,0,0,1,128,136a184.07,184.07,0,0,1-88-22.38V72Zm0,128H40V131.64A200.19,200.19,0,0,0,128,152a200.25,200.25,0,0,0,88-20.37V200ZM104,112a8,8,0,0,1,8-8h32a8,8,0,0,1,0,16H112A8,8,0,0,1,104,112Z"
                        ></path>
                    </svg>
                </div>
                <p class="text-[#49739c] text-xs font-medium leading-normal tracking-[0.015em]">Negocios</p>
            </a>
            <a class="just flex flex-1 flex-col items-center justify-end gap-1 text-[#49739c]" href="#">
                <div class="text-[#49739c] flex h-8 items-center justify-center" data-icon="MagnifyingGlass" data-size="24px" data-weight="regular">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                        <path d="M229.66,218.34l-50.07-50.06a88.11,88.11,0,1,0-11.31,11.31l50.06,50.07a8,8,0,0,0,11.32-11.32ZM40,112a72,72,0,1,1,72,72A72.08,72.08,0,0,1,40,112Z"></path>
                    </svg>
                </div>
                <p class="text-[#49739c] text-xs font-medium leading-normal tracking-[0.015em]">Empleos</p>
            </a>
            <a class="just flex flex-1 flex-col items-center justify-end gap-1 text-[#49739c]" href="#">
                <div class="text-[#49739c] flex h-8 items-center justify-center" data-icon="User" data-size="24px" data-weight="regular">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24px" height="24px" fill="currentColor" viewBox="0 0 256 256">
                        <path
                                d="M230.92,212c-15.23-26.33-38.7-45.21-66.09-54.16a72,72,0,1,0-73.66,0C63.78,166.78,40.31,185.66,25.08,212a8,8,0,1,0,13.85,8c18.84-32.56,52.14-52,89.07-52s70.23,19.44,89.07,52a8,8,0,1,0,13.85-8ZM72,96a56,56,0,1,1,56,56A56.06,56.06,0,0,1,72,96Z"
                        ></path>
                    </svg>
                </div>
                <p class="text-[#49739c] text-xs font-medium leading-normal tracking-[0.015em]">Perfil</p>
            </a>
        </div>
        <div class="h-5 bg-slate-50"></div>
    </div>
</div>
</body>
</html>
